.logo {
    flex: 1.5;
    /* background-color: aqua; */
    /* height: 80px; */
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 50px;
}

.navbar {
    position: absolute;
    left: 20%;
    width: 60%;
    display: flex;

}

.navbar_out {
    position: fixed;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 60px;
    z-index: 99;
}

.option {
    background: rgb(8, 8, 8);
    flex: 1;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.option a {
    text-decoration: none;
    color: white;
}