.block{

    position: relative;
    width:800px;
    height:600px;
    border:1px black solid;  
}
.block .box{
    position:absolute;
    width:50px;
    height:50px;
    background-color:lightgreen;
    border:1px solid black;
    bottom:0px;
}
.box1{
    left:15%;
    /* animation :a1 1.3s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}
.box2{
    left:30%;
    /* animation:a2 1.3s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55)          ; */
}
.box3{
    left:45%;                  
    /* animation:a3 1.5s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}
.box4{
    left:60%;
}              
.box5{
    left:75%;
}    

@keyframes a1{
    0%{
        bottom:0%;
    }
    50%{
        bottom:50%;
        left:70%;
        background-color:lightseagreen;
        /* background-color:rgb(95, 32, 178); */
    }
    100%{
        bottom:0%;
    }
}
@keyframes a2{
    0%{
        bottom:0%;
    }
    
    50%{
        bottom:50%;
        left:0%;
        background-color:lightseagreen;
        /* background-color:rgb(95, 32, 178); */
        transform: rotate(720deg) ;
        width:100px;
        height:100px;
        }
    100%{
        bottom:0%;
    }
}
@keyframes a3{
    0%{
        bottom:0%;
    }
    20%{
        left:20%;
        bottom:0%
    }
    40%{
        left:20%;
        bottom:40%;
        }
    60%{
        left:40%;
        bottom:40%;

    }
    80%{
        left:40%;
        bottom:0%;
    }
    100%{
       bottom:800%;
    }
}